@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    input,
    textarea,
    button,
    select,
    a {
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    }

    label {
        @apply cursor-pointer;
    }

    input[type="radio"] {
        @apply checked:bg-black focus:bg-black focus:border-transparent border-black focus:text-black focus:ring-1 focus:ring-black mr-2;
    }

    h1 {
        @apply text-3xl mb-14 font-bold uppercase;
    }

    p {
        @apply mb-4;
    }

    body {
        @apply font-body;
        font-size: 13px;
    }

    [x-cloak] {
        @apply hidden;
    }

    @font-face {
        font-family: Montserrat;
        src: url(/fonts/montserrat/Montserrat-Regular.otf);
    }

    @font-face {
        font-family: Montserrat;
        src: url(/fonts/montserrat/Montserrat-Bold.otf);
        font-weight: 700;
    }

    @font-face {
        font-family: Montserrat;
        src: url(/fonts/montserrat/Montserrat-Medium.otf);
        font-weight: 500;
    }

    @font-face {
        font-family: Montserrat;
        src: url(/fonts/montserrat/Montserrat-Light.otf);
        font-weight: 300;
    }
}

@layer components {
    header {
        @apply bg-header pt-6 pb-3 lg:py-10 xl:py-12 mb-4 lg:mb-0 bg-contain lg:bg-cover xl:bg-contain bg-repeat-y lg:bg-no-repeat bg-top xl:bg-right-top flex justify-between content-center items-center flex-wrap lg:flex-nowrap;
    }

    footer {
        @apply bg-footer bg-black px-12 py-5 sm:py-8 lg:py-16 bg-contain bg-no-repeat bg-left-top mt-20;
    }

    .search-bar {
        @apply bg-black rounded-full text-white p-1 pl-3 m-0 mt-4 sm:mt-0 sm:mx-5 xl:mr-40 w-full sm:w-2/3 lg:w-1/2 xl:w-2/5 flex items-center font-light text-xs;
    }

    .filter-preset-link {
        @apply uppercase font-bold pb-1 border-b-2 hover:border-lime-350;
    }

    .filter-preset-max-w {
        max-width: calc(100% - 5px);
    }

    .filter-preset-count {
        @apply text-coolGray-350 ml-1 font-light lowercase;
    }
    .card-favourite {
        @apply absolute top-0 right-0;
    }

    .heart-outline {
        @apply w-8 h-8 border border-black rounded-full hover:border-lime-350 hover:fill-current hover:text-lime-350 p-1;
    }
    .heart-outline.favourite {
        @apply border-lime-350 fill-current text-lime-350 hover:border-black hover:stroke-current hover:text-black;
    }

    .btn-round-black {
        @apply rounded-full bg-black text-lime-350 font-medium px-10 py-3 mt-4 hover:text-white hover:shadow-lg;
    }

    .section {
        @apply my-20;
    }
    .section-header-lime {
        @apply bg-section bg-contain bg-no-repeat bg-lime-350 text-2xl font-bold uppercase text-center py-2;
    }

    .swiper-pagination-bullet {
        @apply p-2 mx-2 !important;
    }

    .bullet-lime .swiper-pagination-bullet {
        @apply bg-lime-350 !important;
    }

    .bullet-gray .swiper-pagination-bullet {
        @apply bg-coolGray-350 !important;
    }
    .custom-button-prev,
    .custom-button-next {
        @apply top-1/4 !important;
    }
    .swiper-button-prev,
    .swiper-button-next {
        @apply text-lime-350 !important;
    }

    .pagination-link {
        @apply text-xs font-medium flex w-8 h-8 mx-1 rounded-full items-center justify-center leading-tight bg-black text-lime-350 hover:text-black hover:bg-lime-350;
    }

    .pagination-link-active {
        @apply bg-lime-350 text-black;
    }

    .login-link {
        @apply ml-4 xl:ml-8 xl:mr-12 border-b-2 border-lime-350 pb-1 uppercase font-bold hover:border-black;
    }

    /* sm: 640px */
    @media (min-width: 640px) {
        header {
            background-position-x: 40%;
        }
    }

    /* md: 768px */
    @media (min-width: 768px) {
        .search-bar {
            font-size: 13px;
        }
    }
}
