@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    input,
    textarea,
    button,
    select,
    a {
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    }

    a {
        @apply uppercase font-bold pb-1 hover:border-b-2 hover:border-black;
    }

    a > span {
        @apply text-coolGray-350 ml-2 font-light lowercase;
    }

    label {
        @apply cursor-pointer;
    }

    input[type='radio'] {
        @apply checked:bg-black focus:bg-black focus:border-transparent border-black focus:text-black focus:ring-1 focus:ring-black mr-2;
    }

    p {
        @apply mb-4;
    }

    body {
        @apply font-body text-sm;
    }

    @font-face {
        font-family: Montserrat;
        src: url(/fonts/montserrat/Montserrat-Regular.otf);
    }

    @font-face {
        font-family: Montserrat;
        src: url(/fonts/montserrat/Montserrat-Bold.otf);
        font-weight: 700;
    }

    @font-face {
        font-family: Montserrat;
        src: url(/fonts/montserrat/Montserrat-Medium.otf);
        font-weight: 500;
    }

    @font-face {
        font-family: Montserrat;
        src: url(/fonts/montserrat/Montserrat-Light.otf);
        font-weight: 300;
    }
}

@layer components {
    .card-favourite {
        @apply absolute top-0 right-0 border border-black hover:border-lime-350 rounded-full p-1;
    }
    .btn-round-black {
        @apply rounded-full bg-black text-lime-350 font-medium px-10 py-3 mt-4 hover:text-white hover:shadow-lg;
    }

    .section {
        @apply my-20;
    }
    .section-header-lime {
        @apply bg-section bg-no-repeat bg-lime-350 text-2xl font-bold uppercase text-center py-2;
    }
}
